.section-3 {
  padding: 15px 65px;

  @media screen and (max-width: 680px) {
    padding: 0;
    margin: 0 auto;
  }

  .form-content {
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 1040px;
    margin: 0 auto;

    @media screen and (max-width: 680px) {
      grid: none;
      max-width: 70%;
    }

    .hours {
      background: $black1;
      padding: 25px;

      .hours-content {
        border: 1px dashed grey;
        height: 100%;
        padding: 25px;

        h3 {
          @include title-allura;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 15px;
          padding-top: 10px;
        }

        h4 {
          @include title-poppins;
          font-size: 1.5rem;
          color: $white1;
        }

        img {
          margin: 25px 0 0;
          width: 25px;
        }

        h5 {
          @include title-poppins;
          font-size: 1.1rem;
          font-weight: 500;
          color: $brown1;
          margin: 30px auto 10px;
        }

        p {
          font-family: $font3;
          font-size: 0.9rem;
          line-height: 20px;
          color: $white1;
        }
      }
    }

    .form-infos {
      background: $white1;
      padding: 70px;

      .form-infos-container {
        h2 {
          @include title-allura;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 15px;
        }

        h3 {
          @include title-poppins;
          font-size: 2rem;
          font-weight: 600;
        }

        img {
          margin: 25px 0;
        }

        .form-inputs {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 20px;
          margin: 0 auto;

          @media screen and (max-width: 1050px) {
            grid-template-columns: repeat(2, 1fr);
          }

          @media screen and (max-width: 800px) {
            grid-template-columns: 1fr;
          }

          input[type="text"],
          [type="date"],
          [type="time"],
          label,
          #people {
            background: none;
            border: 1px solid transparent;
            box-shadow: 0px 1px 0px grey;
            font-family: $font3;
            font-weight: 600;
            padding: 15px 0 10px;

            &:focus {
              outline: none;
              border: 2px solid grey;
              border-radius: 5px;
              box-shadow: none;
            }
          }

          .submit-button {
            @include title-poppins;
            color: $white1;
            font-weight: 600;
            letter-spacing: 5px;
            background: $black1;
            border-radius: 40px;
            box-shadow: none;
            width: 100%;
            height: 45px;
            margin-top: 30px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            grid-column: 2;

            @media screen and (max-width: 1050px) {
              grid-column: 1;
            }

            &:hover {
              background: $white1;
              color: $black1;
              border: 2px solid $black1;
            }
          }
        }
      }
    }
  }
}
